# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8 // Permission to use accentuated characters.
end_of_line = lf // Padrão universal que os sistemas Windows, Linux e Mac reconhecem.
indent_style = space // Space style, not TAB.
indent_size = 2 // Spaces quantity.
insert_final_newline = true // Insert new white line on save.
quote_type = single // ...
trim_trailing_whitespace = true // Do not remove whitespace on line ending.

# The indent size used in the `package.json` file cannot be changed
# https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2